
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#page1 {
 min-height: 100vh;
 background: url(bgs/bg.jpg) no-repeat;
 background-size: cover;
 background-position: center;
}


#page5 {
    min-height: 50vh;
    background: url(bgs/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   }



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 250px;
    background: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 20px;
    color:deepskyblue;
    text-decoration: none;
}



.navbar a{
    font-size: 15px;
    color: deepskyblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 60px;
    
}

.navbar a:hover{
    
    color:aqua
}


.name {
    padding-top: 15%;
    padding-left: 9%;
    font-size: 50px;
    font-weight: 700;
    color:azure;
}

span{
    color:deepskyblue;
}

.animated-text{
    font-size: 25px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color:aqua;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #000000;
    border-left: 2px solid aqua;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 4px solid;
    }
}

@keyframes words {
    0%,20%{
        content: "CompSci Student";
    }
    21%,40%{
        content: "Programmer";
    }
    41%,60%{
        content: "Car enthusiast";
    }
    61%,80%{
        content: "Designer";
    }
    81%,100%{
        content: "Nigga";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}