
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    
    
}

body {
    overscroll-behavior: none;
    overflow-x: hidden; 
}
#page5 {
    min-height: 50vh;
    background: url(bgs/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
span{
    color:deepskyblue;
}

.animated-text{
    font-size: 25px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color:aqua;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #080114;
    border-left: 2px solid aqua;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
    top: 0;
    height: 100%;
}

@keyframes cursor {
    to{
        border-left: 4px solid;
    }
}

@keyframes words {
    0%,20%{
        content: "CompSci Student";
    }
    21%,40%{
        content: "Programmer";
    }
    41%,60%{
        content: "Car enthusiast";
    }
    61%,80%{
        content: "Designer";
    }
    81%,100%{
        content: "Human";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px 20px; /* Reduce padding for smaller screens */
    }
    .navbar a {
        margin-left: 20px; /* Adjust the margin between nav links */
    }
    .name {
        font-size: 35px; /* Make the font size smaller on small screens */
    }
    .animated-text {
        font-size: 20px; /* Adjust font size for readability */
    }
}
